{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Circle</h1>
    <form action="/circleanswer">
        <label for "r">
            r:
            <input type="number" name="r" placeholder="r">
        </label>    
        <button>Submit</button>
    </form>
{% endblock %}