{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Square equations</h1>
    <p>
        <i>a = <i> <b>{{ a }}</b>
    </p>
    <p>
        <i>S =  a<sub>2</sub> = a * a = <i> <b>{{ a * a }}</b>
    </p>
    <p>
        <i>P = 4a = <i> <b>{{ 4 * a }}</b>
    </p>
    <p>
        <i>V = a * a *a =<i> <b> {{ a * a * a }} </b>
    </p>
{% endblock %}